.changePasswordPage {
    max-width: 700px;
    margin: 100px auto;
}

.changePasswordPage .back {
    background: #e5f3fd;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    text-decoration: none;
}

.changePasswordPage .title {
    margin-bottom: 20px;
    text-align: center;
}

.change-password-container {
    background-color: #e5f3fd;
    padding: 40px;
    border-radius: 30px;
    border: 1px solid #ddd;
}

.change-password-container form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.change-password-container label {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change-password-container input {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 8px;
    width: 60%;
}

.change-password-container button {
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}